
**/.vs/*
**/Debug/*
**/packages/*
**/bin/*
**/obj/*
.idea/*
.DS_Store
*.user
*.nupkg
*.ush
**/SPlsWork/**
**/*.c3prj/**
**/packages/**
**/bin/**
**/obj/**
**/.idea/**
**/Contracts/output/**
*.ASV
*_archive.zip
*.sm2
*.vtz
*.hash
*.ced
*.sgd
*.zip
*.lpz
*.smft
*.sig
*.sgd2
*.sgd_
*.um2
*.pdf
*.chd2